.add {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addBtn {
    background: dodgerblue;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    margin-right: 30px;
}

.addBtn:hover {
    background: #48a1fc;
}

.addBtn:active {
    box-shadow: inset 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
}

.edit {
    text-decoration: none;
    color: white;
}